[submodule "third_party/blaspp"]
	path = third_party/blaspp
	url = git@github.com:icl-utk-edu/blaspp.git
[submodule "third_party/lapackpp"]
	path = third_party/lapackpp
	url = git@github.com:icl-utk-edu/lapackpp.git
